- if flash[:notice]
  .sixteen.wide.column.ui.info.message
    %i.close.icon
    .header
      Notice
    %p
      =flash[:notice]
- if flash[:error]
  .sixteen.wide.column.ui.negative.message
    %i.close.icon
    .header
      Notice
    %p
      =flash[:error]
- if flash[:warning]
  .sixteen.wide.column.ui.yellow.message
    %i.close.icon
    .header
      Notice
    %p
      =flash[:warning]

:javascript
  function ready(){
    $('.message .close').on('click', function() {
      $(this).closest('.message').fadeOut();
    });

    setTimeout(function(){
      alert("asd");
    }), 10000);
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
