.row
  .ui.menu.navbar.inverted
    %a.brand.item{:href => root_path } Uptoda.te
    %a.item{:href => api_path} API
    %a.item{:href => root_path } About
    %a.item{:href => root_path } Contact us
    .right.menu
      - unless current_user.nil?
        %a.item{:href => projects_path} My Projects
        .ui.dropdown.item
          =current_user.email
          %i.dropdown.icon
          .menu
            .item
              =link_to "Edit account", edit_user_registration_path, style: "color:black"
            .ui.divider
            .item
              =link_to('Logout', destroy_user_session_path, :method => :delete, style: "color:black")
      - else
        .ui.dropdown.item
          = semantic_icon(:users)
          %i.dropdown.icon
          .menu
            .item
              =link_to "Sign in", new_user_session_path, style: "color:black"
            .ui.divider
            .item
              =link_to "Sign up", new_user_registration_path, style: "color:black"
