<div class="ui green inverted vertical segment">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui inverted header">
          Stay up to date.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <h3 class="ui inverted header">Application Version Management Made Easy!</h3>
        <p> Uptoda.te provides a simple and secure way to store a repository of project releases that can easily be checked and downloaded. </p>
        <p> Enter the version number, specify if the version is stable and/or recommended, and upload the file, it's as easy as that! </p>
        <div class="ui basic inverted animated button">
          <div class="visible content">Get Started</div>
          <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui form segment">
          <h3 class="ui header">Easy to use API!</h3>
          <p>Check out our super simple API that makes checking for and downloading updates laughably easy. </p>
          <div class="field">
            <div class="ui animated button">
              <div class="visible content">Using the API</div>
              <div class="hidden content"><i class="right arrow icon"></i></div>
            </div>
          </div>
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="smile icon"></i>
              Simple
            </div>
            <p>Quickly and easily upload new versions and your applications can automatically pull down new versions as they become available.</p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="shield icon"></i>
              Secure
            </div>
            <p>For non-public projects, we know how valuable security is, and we've taken extensive measures to protect your data.</p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="money icon"></i>
              Free
            </div>
            <p>Totally free for open source projects! Hooray!</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="column">
          <h1 class="ui header">
            Simplicity. Nowadays It's A Bit Rare.
          </h1>
          <div class="ui horizontal divider"><i class="asterisk icon"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="ten wide column">
      </div>
      <div class="six wide column">
        <h5 class="ui inverted header">Contact Us</h5>
        <addr>
          A magical place <br>
          where no one gets harmed <br>
        </addr>
        <p>Indoors.</p>
      </div>
    </div>
  </div>
</body>
